/Build/Archives/
/Build/Reports/
/Build/Temporary/
/Configuration/PackageStates.yaml
/Configuration/Production/IncludeCachedConfigurations.php
/Data/
/Tests/Selenium/settings.xml
/Tests/Unit/
/Web/_Resources/
