[submodule "Packages/Framework/ExtJS"]
	path = Packages/Framework/ExtJS
	url = git://git.typo3.org/FLOW3/Packages/ExtJS.git
[submodule "Packages/Framework/FLOW3"]
	path = Packages/Framework/FLOW3
	url = git://git.typo3.org/FLOW3/Packages/FLOW3.git
[submodule "Packages/Framework/Fluid"]
	path = Packages/Framework/Fluid
	url = git://git.typo3.org/FLOW3/Packages/Fluid.git
[submodule "Packages/Framework/Kickstart"]
	path = Packages/Framework/Kickstart
	url = git://git.typo3.org/FLOW3/Packages/Kickstart.git
[submodule "Packages/Framework/Party"]
	path = Packages/Framework/Party
	url = git://git.typo3.org/FLOW3/Packages/Party.git
[submodule "Packages/Application/TYPO3"]
	path = Packages/Application/TYPO3
	url = git://git.typo3.org/FLOW3/Packages/TYPO3.git
[submodule "Packages/Application/TYPO3CR"]
	path = Packages/Application/TYPO3CR
	url = git://git.typo3.org/FLOW3/Packages/TYPO3CR.git
[submodule "Packages/Application/TypoScript"]
	path = Packages/Application/TypoScript
	url = git://git.typo3.org/FLOW3/Packages/TypoScript.git
[submodule "Packages/Sites/PhoenixDemoTypo3Org"]
	path = Packages/Sites/PhoenixDemoTypo3Org
	url = git://git.typo3.org/FLOW3/Packages/PhoenixDemoTypo3Org.git
[submodule "Packages/Application/Twitter"]
	path = Packages/Application/Twitter
	url = git://git.typo3.org/FLOW3/Packages/Twitter.git
