/Build/
/Configuration/
/Data/
/Packages/
/Tests/Selenium/settings.xml
/Web/
/Readme.txt
/Upgrading.txt
/flow3
/flow3.bat

# ignore the downloaded selenium server, and the selenium
# temporary directory (which starts with a quote, do not ask why...)
Build/Resources/Java/selenium-server-standalone*
/"