/Build/Archives/
/Build/Reports/
/Build/Temporary/
Build/Resources/Java/ext-doc/build/
Build/Resources/Java/ext-doc/java/src/main/extdoc/jsdoc/schema/
Build/Resources/Java/ext-doc/java/src/main/extdoc/jsdoc/tplschema/
/Configuration/Production/IncludeCachedConfigurations.php
/Configuration/PackageStates.php
/Configuration/Settings.yaml
/Data/
/Tests/Selenium/settings.xml
/Tests/Unit/
/Web/_Resources/
