#                                                                        #
# Example Settings                                                       #
#                                                                        #
# This file contains settings for various parts of the application.      #
# Copy this file to Settings.yaml, and adjust as necessary.              #
#                                                                        #
# Please refer to the default settings file(s) or the manuals for        #
# possible configuration options.                                        #
#                                                                        #

TYPO3:
  FLOW3:
    persistence:
      backendOptions:
        driver: 'pdo_mysql'
        dbname: 'phoenix'   # adjust to your database name
        user: 'root'        # adjust to your database user
        password: ''        # adjust to your database password
        host: '127.0.0.1'   # adjust to your database host

# On Windows, you might need to uncomment the following line and specify
# the location of the PHP binary manually.
#    core:
#      phpBinaryPathAndFilename: 'C:/path/to/php.exe'
